.vertical1 {
    background-color: #65D6FC;
    height: 307px;
    left: 0px;
    top: 0px;
    width: 10px;
}

.vertical2 {
    background-color: #0054AF;
    height: 307px;
    left: 236px;
    top: -614px;
    width: 10px;
    position: relative;
}

.vertical3 {
    background-color: #FE6D1A;
    height: 307px;
    left: 480px;
    top: -1228px;
    width: 10px;
    position: relative;
}


.profiles_section_container {
    background-color: white;
    height: 307px;
    left: 10px;
    top: -307px;
    width: 230px;
    position:  relative
}

.u85 {
    position:relative;
    left:14px;
    top:15px;
    width:165px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.profiles_section_icon_container {
    position:relative;
    background-image: url('/Style Library/Images/Icons/Summaries.png');
    left:193px;
    top: -34px;
    width:42px;
    height:40px;
}

.browse_section_container {
    height: 307px;
    left: 250px;
    top: -921px;
    width: 232px;
    position: relative;
}

.u83 {
    /*position:absolute;*/
    position:relative;
    left:14px;
    top:13px;
    width:155px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.browse_section_icon_container {
    background-image: url("/Style Library/Images/Icons/BRowse.png");
    height: 40px;
    left: 193px;
    top: -34px;
    width: 42px;
    position:  relative;
}

.create_section_normal {
    background-image: url('./Data_Centre_files_/u82_normal.png');
}

.create_section_container {
    position:relative;
    left:500px;
    top: -1535px;
    width:232px;
    height:307px;
}

.u87 {
    position:relative;
    left:8px;
    top:10px;
    width:165px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.create_section_icon_container {
    position:relative;
    background-image: url("/Style Library/Images/Icons/Build.png");
    left: 193px;
    top:-34px;
    width:42px;
    height:40px;
}

.datarelease_section_container {
    height: 200px;
    left: 482px;
    top: -1520px;
    width: 250px;
    position: relative;
}

.datarelease_section_heading {
    background-color: #0AC9C7;
    font-family: Arial;
    height: 35px;
    left: 450px;
    text-align: left;
    top: 0px;
    width: 250px;
    word-wrap: break-word;
}

.font_text_no_intense
{
font-family: Arial;
font-size: 14px;
font-weight: normal;
}

.UnescoCustom-1-Titre1{
	color:#ED9600;
	font-family: Arial;
	font-weight:bold;
	font-size:15px;	
	margin-bottom:11px!important;
	text-transform:uppercase					
}


.datarelease_section_content {
    font-family: Arial;
    height: 126px;
    left: 400px;
    text-align: left;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

.u79 {
    /*position:absolute;*/
    left:12px;
    top:118px;
    width:218px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.helpresources_section_container {
    position:relative;
    left:482px;
    top:-1475px;
    width:250px;
    height:140px;
}

.helpresource_section_heading {
    left:508px;
    top:0px;
    width:250px;
    height:30px;
    font-family:Arial;
    text-align:center;
    font-weight:bold;
    vertical-align:middle;
    word-wrap:break-word;
    background-color:navy;
}

.helpresources_section_content {
    left:508px;
    top:0px;
    width:250px;
    height:100px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}


.u143 {
    /*position:absolute;*/
    left:12px;
    top:70px;
    width:218px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.contactus_section_container {
    position:relative;
    left:493px;
    top:-1420px;
    width:250px;
    height:30px;
    background-color: #65D6FC;
}

.u147 {
    /*position:absolute;*/
    left:12px;
    top:21px;
    width:218px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.scroller_section_container {
    height: 375px;
    left: 0;
    position: relative;
    top: -1890px;
    width: 467px;
}

.scroller_section_heading
{
  	background-color:#CC9900;
    font-family: Arial;
    height: 35px;
    left: 450px;
    text-align: left;
    top: 0px;
    width: 467px;
    word-wrap: break-word;
}


.scroller_section_content_bak {
    background-color: blue;
    height: 385px;
    left: -10px;   
    position: relative;
    top: -10px;
    width: 470px;
}

.scroller_section_content {
    background-color: red;
    height: 390px;
    left: -15px;   
    position: relative;
    top: -12px;
    width: 480px;
}


.scroller_section_WPcontent {
    background-color: lime;
    height: 375px;
    left: -10px;
    position: relative;
    top: -10px;
    width: 450px;
}


.u76 {
    /*position:absolute;*/
    left:12px;
    top:319px;
    width:463px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.contactus_section_content{
    font-family: Arial;
    height: 25px;
    left: 508px;
    text-align: center;
    top: 0;
    width: 250px;
    word-wrap: break-word;
}

.contactus_section_container {
    height: 30px;
    left: 482px;
    position: relative;
    top: -1470px;
    width: 250px;
    z-index: 1200;
}

.browse_section_content {
    /*position:absolute;*/
    left:264px;
    top:154px;
    width:202px;
    height:140px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.profiles_section_content {
    /*position:absolute;*/
    left:017px;
    top:154px;
    width:207px;
    height:24px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.create_section_content {
    /*position:absolute;*/
    left:502px;
    top:220px;
    width:213px;
    height:24px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}


.header_title {
    /*position:absolute;*/
    left:5px;
    top:5px;
    width:310px;
    height:32px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.lost_title {
    font-family: Arial;
    height: 15px;
    left: 260px;  
    position: relative;
    text-align: left;
    top: -25px;
    white-space: 250px;
    word-wrap: break-word;
}


/*-----------------------------replace styles---------------------*/

#header_title_rtf p,
#u85_rtf p,
#u83_rtf p,
#u87_rtf p,
#lost_title_rtf p,
#datarelease_section_heading_rtf p,
#helpresource_section_heading_rtf p,
#helpresources_section_content_rtf p,
/*#contactus_section_content_rtf p,*/
#scroller_section_heading_rtf p {text-align:left;}
#header_title_rtf span,
#lost_title_rtf span,
#u85_rtf span,  
#u83_rtf span,
#u87_rtf span,
#datarelease_section_heading_rtf span,
#helpresource_section_heading_rtf span,
#contactus_section_content_rtf span,
#scroller_section_heading_rtf span {font-family:Arial;font-size:28px;font-weight:bold;font-style:normal;text-decoration:none;color:#FCAE26;}
#lost_title_rtf p {text-align:center;}
#u85_rtf span,  
#u83_rtf span,
#u87_rtf span {font-size:16px;color:#605F5D;}
#datarelease_section_heading_rtf p,
#helpresource_section_heading_rtf p {text-align:center;line-height:18px;vertical-align:middle;}
#datarelease_section_heading_rtf span,
#helpresource_section_heading_rtf span,
#contactus_section_content_rtf span,
#scroller_section_heading_rtf span {font-size:12px;color:#FFFFFF;}
#helpresources_section_content_rtf div {margin-top:10px;z-index:1300;}
#helpresources_section_content_rtf p {line-height:18px;}
#helpresources_section_content_rtf span {font-size:12px;font-weight:normal;color:#0054AF;}
#contactus_section_content_rtf p {text-align:center;line-height:18px;}
#contactus_section_content_rtf a {text-decoration: none;!important;}
#scroller_section_heading_rtf p {text-align:center;line-height:18px;vertical-align:middle;}


#gallery div {padding-top:5px;padding-left:5px;padding-top:2px;}

#lost_title_rtf span {color: #0054AF;font-size: 12px;font-weight: normal;text-decoration: underline;}

/*---------------web parts---------------*/
#datarelease_section_content_rtf {margin-top:10px;}
/*#datarelease_section_content_rtf {background-color:aqua;}*/
#datarelease_section_content_rtf p {text-align:left;line-height:18px;}
#datarelease_section_content_rtf span {font-family:Arial;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#0B0B0B;}
#datarelease_section_content_rtf div:last-child {margin-top:10px;}

#datarelease_section_content_rtf div:last-child span {font-family:Arial;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#605F5D;}

#tasksUL { padding-left: 0; margin-left: 0 !important;}
#tasksUL li {color: #0054AF;font-family: Arial;font-size: 12px;font-style: normal;font-weight: normal;text-decoration: none;}
.span-tasks-li {font-family:Arial;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#0054AF;}

/*---------------Navigation page---------------*/
.vertical1_nav {
    background-color: #65D6FC;
    height: 75px;
    left: 0px;
    top: 0px;
    width: 6px;
}

.vertical2_nav {
    background-color: #0054AF;
    height: 75px;
    left: 236px;
    top: -150px;
    width: 13px;
    position: relative;
}

.vertical3_nav {
    background-color: #FE6D1A;
    height: 75px;
    left: 480px;
    top: -300px;
    width: 18px;
    position: relative;
}


.u85_nav {
    position:relative;
    left:14px;
    top:15px;
    width:232px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_nav {
    /*position:absolute;*/
    position:relative;
    left:14px;
    top:13px;
    width:232px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.browse_section_content_nav {
    /*position:absolute;*/
    left:264px;
    top:154px;
    width:232px;
    height:24px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.create_section_container_nav {
	background-color: gray;
    position:relative;
    left:497px;
    top: -375px;
    width:232px;
    height:75px;
}

.u87_nav {
    position:relative;
    left:8px;
    top:10px;
    width:232px;
    height:42px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}


	.lost_title_nav {
    	font-family: Arial;height: 15px;left: 500px;position: relative;text-align: right;top: -18px;word-wrap: break-word;width: 245px;
		background-color: lime;display:none;
	}
	
	.span_item_nav {
		display: block; padding-left: 30px; line-height:20px;font-family:Arial;font-size:12px !important;font-weight:normal;font-style:normal;
		color:#0054AF!important;!important;
	}
	
	.img_flag {
		top: 133px;left:0px;width: 25px;height: 20px; float: right; position: absolute;
	}


.ref_profiles {
	text-decoration: underline !important;
	line-height:20px;font-family:Arial;font-size:12px !important;color:#0054AF!important;
}

.ref_profiles_country {
	text-decoration: underline !important; padding-left:30px;color:#0054AF!important;
	line-height:20px;font-family:Arial;font-size:12px !important;
} 


#TitleSiteName {display:none;}

/*---------------Country profile & Region profile layout page ---------------*/

#Centre li a,
	#Centre ul a li,
	#Centre li a *,
	#Centre li * a, #Centre li * a *{
	color: 605F5D !important;
	}
	
	
#sectorTabs li a,
#sectorTabs ul a li,
#sectorTabs li a *,
#sectorTabs li * a, #sectorTabs li * a *{
	color: 605F5D !important;
    font-size: 11px!important;
	text-decoration:none!important;
	
	}
	
	h1 {
		 font-size: 2em;
		 font-weight: bold;
	}	
	
	.lost_title_nav {
    	font-family: Arial;height: 15px;left: 500px;position: relative;text-align: right;top: -18px;word-wrap: break-word;width: 245px;
		background-color: lime;display:none;
	}
	
	.span_item_nav {
		display: block; padding-left: 30px; line-height:20px;font-family:Arial;font-size:12px;font-weight:normal;font-style:normal;font-variant:normal;
	}
	
		
	.a_item_nav {
    color: #4F8DB8 !important;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
	display: list-item;
	list-style-image: url(/das/images/list-arrow3x5.png);
	line-height: 2em;
}
    
}
	
	a:hover { text-decoration: underline}

	.img_flag {
		float: right;position: absolute;top: 20px;left:0px;width: 25px;height: 20px;	
	}
	
	#WebPartWPQ2 {padding-left: 0px; padding-right: 0px;}


