/*table des matières */
/* 
1- Conventions de nommage et d'écriture
2- Eléments HTML
3- Elements de page
4- Classes spécifiques
5- Imprimer


/* 1- Conventions de nommage et d'écriture

> Nommage des fichiers images (images autres que celles provenant par défaut de sharepoint): ID_label_format.extension
> Les ID commencent par une majuscule, les class par une minuscule - Décrivent une fonctionnalité plutôt qu'une apparence
> Nommer comme suit: parent_enfant (Exemple: #header #header_navbar #header_logo)
> Répéter dans le nom des class, le nom des ancêtres
> Pour une seule propriété à afficher, écrire le tout sur une seule ligne
> Indenter le code pour mettre en évidence les dépendances entre chaque éléments CSS d'une même classe !
> Utiliser espaces et commentaires pour séparer les portions de code logiquement différents
> Grouper les élements, tags par type et les ordonner dans une séquence logique
> ordonner alphabétiquement les propriétés 
> séparer le code en catégories pour une meilleure maintenance (typographie - structure - Liens(LVHA) - etc)

*/ 



/* 2- Eléments HTML */


@import url("admin.css"); /* manage lists/librairie view */ 
@import url("controlesSharepoint.css"); /* manage sharepoint controls style */
@import url("webparts.css"); /* manage webparts style */
@import url("layouts.css"); /* manage page layout style  */

/***** Global Settings *****/

html, body{
	background:#EDF3F6;				
	height:100%;
	}

body,body * {font-family:Arial, Verdana, Helvetica, sans-serif!important;}

p{margin:0px;padding:0px;}



/* 2- FIN des Eléments HTML ********************************************************************************/


/* 3- Eléments de page *************************************************************************************/	
	
#container {	
	background:white;
	height:100%;	
	position: relative;
	width:955px!important;
	}

#Outils{
	background:#CED3D7;
	color:#63686c;
	height:29px;
	margin:0;
	padding:0	
	}
			
#SeeAlso {
	background:url('/_layouts/images/UNESCO/Bullets/BulletLink_general_3x5.gif') no-repeat 17px 12px;
	font-size:11px;
	line-height:29px;
	padding-left:27px;
	width:250px;
	text-align:left;
	}
	
	#SeeAlso a{color:#63686c;font-size:11px}
	#SeeAlso div{display:inline!important;}

* html #UisAlert{
	background:url('/_layouts/images/UNESCO/Icons/Tools/tools_print_Alert_13x9.gif') no-repeat left 10px;
	font-size:11px;
	line-height:29px;
	padding-right:10px;
	padding-top:3px;
	}
	
#UisAlert{
	background:url('/_layouts/images/UNESCO/Icons/Tools/tools_print_Alert_13x9.gif') no-repeat left 10px;
	font-size:11px;
	line-height:20px;
	padding-right:10px;
	padding-top:7px;
	}

	#UisAlert table tr td a{
		color:#3c8ac1;
		font-size:11px;
		padding-left:20px;
		padding-top:7px;
		}	

/* hack IE */
* html #Bandeau_standard {padding:/*4*/0px 0 0 0}
/* / hack */
	
#Bandeau_standard {
	background-color:#fcae26;
	/*height:150px;	*/
	padding:/*4*/0px 0;
	position:relative;
	text-align:right;
	}		

#UnescoBanner {position:relative;margin:0px;padding:0px;height:150px;width:955px}
#UnescoBanner a {height:150px;padding:0px;margin:0px}
	#UnescoBanner a div {height:150px;width:955px;padding:0px;margin:0px}
	#UnescoBanner a div img{height:150px;width:955px}
	#UnescoBanner * {margin:0;padding:0} 
.ms-consolemptablerow2{background-color:#fcae26}

* html #IEcontent{margin-top:-4px}

/* Content toolbar **************************************************************************************/
#ContentToolbar{
	background-color:#FCAE26;
	color:#724e12;
	font-size:11px;
	height:33px;	
	padding-left:16px;
	}
	
	#ContentToolbar a{color:#724e12;text-decoration:none}

/* Left utilities ***********/

/* Hack IE */
* html #LeftUtilities{padding-top:3px}
/* / Hack IE */

#LeftUtilities{padding-top:1px}

/* Language management */
#Language .ms-globalbreadcrumb-translation{margin-right:0px;width:20px}

	#Language .ms-globalbreadcrumb-translation td{margin:0;padding:0}

#Language2, 
#Language2 *{
	font-size:8px;
	border:0px;
	border-collapse:collapse;
	margin:0;
	padding:0
	}


/* Hack safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#LeftUtilities{position:relative}

	#NormalFontSize{position:absolute;left:41px;top:13px}
	#LargerFontSize{position:absolute;left:49px;top:13px}
	}
/* / Hack safari */

/* /Language management */

/* /Left utilities ************/


/* Right utilities ************/

/* Hack IE */
* html #RightUtilities {padding:6px 0 0 0}
/* / Hack IE */

#RightUtilities {padding:4px 0 0 0}

	#RightUtilities a{font-size:11px}

#Send{color:#724e12;text-align:center}	

	#Send a{color:#724e12;padding:0 7px 0 7px}	

		#Send a img{border:0px}

#Print{border-right:1px #724e12 dotted;color:#724e12}
	
	#Print a{color:#724e12;padding:0 7px 0 0}	
	
		#Print a img{border:0px}
	
/* / Right utilities ************/

/* Search ***********************/	

/* Hack for all versions of IE */	
* html #Recherche{margin:-5px 195px 0 0}
	
* html #RechercheFR{margin:-5px 215px 0 0}
/* / Hack for all versions of IE */	



#Recherche{
	float:right;
	margin:-5px 195px 0 0;
	position:relative;
	width:180px;
	display:block
	}
	
#RechercheFR{
	float:right;
	margin:-6px 215px 0 0;
	position:relative;
	width:180px
	}

/* Search Hack Firefox - !Important : do not move this hack */
@-moz-document url-prefix(){
#Recherche{
	float:right;
	margin:-7px 195px 0 0;
	position:relative;
	width:180px
	}
	
#RechercheFR{
	float:right;
	margin:-6px 215px 0 0;
	position:relative;
	width:180px
	}
}
/* / Search Hack Firefox */

	
/* / Search ************************/	
/* / Content toolbar **************************************************************************************/

		
/* Colonne Gauche *****************************************************************************************/

#left_col {
	background:#605F5D;
	height:100%;
	padding:22px 16px;	
	vertical-align:top;
	width:154px
	}

#Gauche {
	margin:0;
	vertical-align:top;
	width:154px
	}

	#Gauche div {margin:0}
		
		
/* / Colonne Gauche ****************************************************************************************/


/* Colonne centrale ****************************************************************************************/

#Centre {
	border:0 #919191 solid;
	height:100%;	
	margin:0 0 38px 0!important;
	padding:0 23px 38px 24px;
	text-align:left;
	vertical-align:top;
	width:769px!important
	}

	#Centre div,
	#Centre div table {margin:0;padding:0} 
	
	#Centre * a{color:#4F8DB8}


/* / Colonne centrale **************************************************************************************/



/* FOOTER ************************************************************************************************ */

#FooterPage{background-color:#edf3f6}

#CopyrightLinks{
	display:inline;
	font:normal 11px; 
	text-align:center
	}

#CopyrightLinks td,
#CopyrightLinks p{
	color:#63686c;
	font-size:11px;
	margin:0px;
	padding-top:12px;
	text-align:center;
	width:100%
	}

	#CopyrightLinks a{
		color:#4F8DB8;
		display:inline!important;
		font:normal 11px; 
		text-decoration:none;
		text-align:center
		}			
			
		#CopyrightLinks a:hover{text-decoration:underline;
			}
	

/*3- FIN des éléments de page ********************************************************************************/





/* 4- Classes spécifiques utilisées plusieurs fois ***********************************************************/ 
/***** Global Classes *****/
 
.clear         { clear:both; }
 
.float-left    { float:left; }
 
.float-right   { float:right; }
 
.text-left     { text-align:left; }
 
.text-right    { text-align:right; }
 
.text-center   { text-align:center; }
 
.text-justify  { text-align:justify; }
 
.bold          { font-weight:bold; }
 
.italic        { font-style:italic; }
 
.underline     { border-bottom:1px solid; }
 
.highlight     { background:#ffc; }
 
.wrap          { width:960px;margin:0 auto; }
 
.img-left      { float:left;margin:4px 10px 4px 0; }
 
.img-right     { float:right;margin:4px 0 4px 10px; }
 
.nopadding     { padding:0; }

.paddingLeft5 { padding-left:5px }
.paddingLeft9 { padding-left:9px }
.paddingTop10 { padding-top:20px;margin-top:10px }

 
.cpcs		   { border-collapse:collapse; } /* remplace le cellpadding et cellspacing nuls d'une table */

.noindent      { margin-left:0;padding-left:0; }
 
.nobullet      { list-style:none;list-style-image:none; }

.noDisplay 	   { display:none;visibility:hidden }

.width100 { width: 100%; }
 
.width75 { width: 75%; }
 
.width50 { width: 50%; }

.addthis_toolbox,
.addthis_default_style {
		min-width:150px;
		float:right;
}

/* 4- Fin des classes spécifiques utilisées plusieurs fois **************************************************/ 
/* End of global Classes *****/










/* 5- Print - Imprimer */

@media print {
				

/* FIN des classes spécifiques utilisées plusieurs fois */

	/* Ne pas afficher ces éléments */

	.ms-HoverCellInActive img {display:none}		
	
	hr {display:none}		
	
	#FilAriane {display:none}		
	
	#FooterPage {display:none}		
	
	#bottomLinks {display:none}		
	
	#Droite {display:none}		
	
	#left_col {display:none}		
	
	#Gauche {display:none}		
	
	#ContentToolbar {display:none}		
		
	#Bandeau_standard {display:none}		
	
	#Recherche {display:none}		
	
	#Outils {display:none}		
	
	#Haut {display:none}		
	
	#Header {display:none}		
	
	.ms-consolemptablerow2,#mpdmconsole{display:none;visibility:hidden!important}
	
	.ms-formtoolbar{display:none}
	
	table.ms-toolbar{display:none}
	
	.ms-menutoolbar{display:none}

		
	/* Afficher ces éléments */

	#ContenuCentre{	
		border:0px;
		height:100%;
		margin:5px;
		padding:0px;
		vertical-align:top;
		visibility:visible;
		width:100%;
		} 
		
	#Centre{height:100%;padding:0px;width:100%}

	
/* 5- FIN de Imprimer */

